<div>
     <fieldset>
        <legend><img src="../../Content/image/search-icon.png" width="25" height="25" align="top" /></legend>
        <div id="wrapper">
        
        @using (Html.BeginForm("Default", "Default"))
        {
        <form action="#" method="get" name="tkcoban"> 
     	    <input id="coban" type="text" onblur="if(this.value=='') this.value=this.defaultValue" onfocus="if(this.value==this.defaultValue) this.value=''" value="Nhập tên sản phẩm cần tìm" name="chuoitk" autocomplete="off" size="36" />
     	    <input type="submit" name="tkcoban" value="Tìm" />
	    </form>
        }
       
        </div>
    </fieldset>
</div>

