<!--FOOTER -->
<div class="clear"></div>
<div class="footer">
  	<p><b>Books Shop &reg;</b></p>
  	<p>Trụ sở chính : Đại học Sài Gòn<br /> 273 An Dương Vương, P.3, Q.5, Tp.HCM</p>
  	<p>Điện thoại: 01694353510 - (08) 3111222 - Fax: (84-8) 38.305568</p>
  	<p>Email: hoangnam19922010@gmail.com</p>
  	<p>© Copyright 2010 <b>Books Shop</b>, All rights reserved.</p>
  	<p align="right"><a href="#">Thiết kế bởi Nhóm Sinh Viên ĐH Sài Gòn</a></p>
</div>
