@model IEnumerable<WebApp.ServiceReference1.Sach>
<div class="header-column">SÁCH BÁN CHẠY</div>
<div class="noidungcanhgiua">
    <marquee height="410px" width="198px" onmouseout="this.start()" onmouseover="this.stop()" scrolldelay="30" scrollamount="2" truespeed="truespeed" direction="up" behavior="scroll">
        @foreach (var p in Model)
        {
            <div class="sanphamnoibat">
                <a href="/Default/Chitietsanpham?masp=@Html.DisplayFor(item=>p.SachID).ToString().Trim()"><div><img src="../../Content/image/books/@Html.DisplayFor(item=>p.HinhBia)" /></div></a>
                <div class="tensanpham"><table align="center"><tr height="40px" valign="middle"><td><b>@Html.DisplayFor(item => p.TenSach)</b></td></tr></table></div>
                <div style="color:#FF0000">Giá: @Html.DisplayFor(item => p.GiaBan) VNĐ</div>
            </div>
        }
    </marquee>

</div>
