@{
    ViewBag.Title = " Quên mật khẩu";
    Layout = "~/Views/Shared/Default.cshtml";
}
<div class="columcenter">
    <div class=" header-center">QUÊN MẬT KHẨU</div>
          <div style="width:580px">
          <div class="noidunggiua">
  @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { id = "mainForm", name = "mainForm", onSubmit = "return check1();" }))
  {
                <div class=" noidunggiua">
                	Nếu quý vị quên tên truy nhập hoặc mật khẩu, hãy điền địa chỉ email quý vị đã đăng ký vào ô dưới đây để nhận được thư hướng dẫn lấy lại tên truy nhập và mật khẩu. Thư hướng dẫn có thể gửi đến quý vị ngay, hoặc cũng có thể bị chậm 5 đến 10 phút.
                </div>
                <div class=" noidunggiua">
                <label for="email"><span class="form_label">Email</span></label>
                <input id="email" name="email" size="35" onchange="checkEmail();"/>
                
                 <span id="thu" style="color:#FF0000"></span>
                </div>
               
                 <div class=" noidunggiua">
                <label for=""><span class="form_label">&nbsp;</span></label>
                <input type="submit" name="submit" value="Lấy lại thông tin" />
                </div>
                <div class=" noidunggiua">
                <label for=""><span class="form_label">&nbsp;</span></label>
                <div class="noidunggiua"><hr color="336699" size="1" /></div>
                <div class="buttonhome"><a href="/Default">Về lại trang chủ</a></div>
                </div>
  }
            </div>
        <div class="clear"></div>
    </div>
</div> 
@{Html.RenderPartial("~/Views/Default/Footer.cshtml");}
